:root {
  --primary-color: #30ea03;
  --text-color: #000000;
  --background-color: #ffffff;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.main-content {
  flex: 1;
  padding: 20px;
  margin-top: 20px;
}

/* Custom styles for react-select */
.filter-select .select__control {
  border-color: var(--text-color);
}

.filter-select .select__control--is-focused {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 1px var(--primary-color);
}

.filter-select .select__multi-value {
  background-color: var(--primary-color);
}

.filter-select .select__multi-value__label {
  color: var(--text-color);
}

/* Custom styles for buttons */
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--text-color);
}

.btn-primary:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  opacity: 0.9;
}

.btn-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-outline-primary:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.btn-secondary {
  background-color: var(--text-color);
  border-color: var(--text-color);
  color: var(--background-color);
}

.btn-secondary:hover {
  background-color: var(--text-color);
  border-color: var(--text-color);
  opacity: 0.9;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
